<div class="wrapper">
  <form>
    <h2 class="mb-4 pt-0">Add a Link</h2>
    <div class="mb-3">
      <label for="Title" class="form-label">Title</label>
      <input type="text" class="form-control" id="Title" aria-describedby="linkTitle" #newtitle>
      <div id="linkTitle" class="form-text">Add your useful links.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputLink1" class="form-label">Link</label>
      <input type="url" class="form-control" id="exampleInputLink1" #newlink> 
      <!--#newLink is an angular HtmlInputvalue binding, basically binds the value of the form input to a local variable.-->
    </div>
    <button type="submit" class="btn btn-primary" (click)="addArticle(newtitle, newlink)">Submit</button>
  </form>
</div>
<div class="article-wrapper">
  <app-article *ngFor="let article of articles" [article]="article"></app-article>
</div>
